.TodoItem {
  width: 95%;
  height: 30px;
  background-color: #a3b18a;
  /* border: 2px solid #006d77; */
  padding: 5px;
  flex-direction: row;
  margin: 10px;
  border-radius: 21px;
}
.serial-number {
  flex: 1;
}
.todo-info {
  display: flex;
  align-items: flex-start;
  flex: 8;
}
.todo-info input {
  outline: none;
  background-color: transparent;
  color: inherit;
  border: none;
}
.todo-item-editing-buttons {
  display: flex;
  flex-direction: row;
  flex: 1;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
}

.todo-item-editing-buttons > button {
  border: none;
  color: #e77728;
  outline: none;
  padding: 10px;
  border-radius: 21px;
}
